name: deeplink_x_android
description: "Android implementation of the deeplink_x plugin."
version: 0.1.0

repository: https://github.com/DeeplinkX/DeeplinkXAndroid

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=3.12.0"

dependencies:
  flutter:
    sdk: flutter
  deeplink_x_platform_interface: ^0.1.0
  url_launcher: ^6.1.0
  android_intent_plus: ^6.0.0
  appcheck: ^1.5.4+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  mocktail: ^1.0.4

flutter:
  plugin:
    implements: deeplink_x
    platforms:
      android:
        dartPluginClass: LauncherUtilAndroid
